.banner {
  background-image: url(/logo1.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 0% 20%;
}

.banner h2 {
  color: #222;
}

.banner h3 {
  color: #222;
}

.flex { 
  align-items: end;
  justify-content: right; 
}

.flex > * {
  padding: 0 10px;
}

.align-right {
  text-align: right;
}
