@font-face {
  src: url(/aAssassinNinja.otf);
  font-family: assassin;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


p {
  color: #555555;
  font-family: Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}


