---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Under construction</p>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.7206616016156!2d-121.45251032265251!3d38.54020687180251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac552c0fcde41%3A0x461ed7e2df176701!2sToro%20Z%20Muay%20Thai!5e0!3m2!1sen!2sus!4v1702842013252!5m2!1sen!2sus"
		width="600"
		height="450"
		style="border:0;"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade">
	</iframe>

</Layout>
