---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>We make monsters.</h1>
			<h2>Muay Thai Classes</h2>
			<h2>Tiny Toroz</h2>
			<h2>Fitness</h2>
			<h2>Fight Team</h2>
		</main>
		<Footer />
	</body>
</html>
