---
import BaseLayout from '../layouts/BaseLayout.astro'
const title="Toro Z Muay Thai"
---
<BaseLayout title={title}>
  <div class="container">
    <img src="toroz-banner-blue.png" alt="Banner photo" >
    <h1>Astro</h1>
    <p>(astro)</p>
  </div>
</BaseLayout>
