---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ClassCard from '../components/ClassCard.astro';
import ContactForm from '../components/ContactForm.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>We build beasts.</h1>
			<p>It's never too early or too late to begin your Muay Thai journey. Once you've walked through our doors, the hardest part is already over.</p>
			<h2>Classes</h2>
			<ClassCard
				href="/classes"
				title="MUAY THAI FUNDAMENTALS"
				body="Learn and hone your Muay Thai fundamentals with other fighters."
			/>
			<ClassCard
				href="/classes"
				title="KIDS' CLASSES"
				body="Have your little ones join the Tiny Toroz. Along with Muay Thai, students will develop their discipline, self-confidence, and ability to work in a team."
			/>
			<ClassCard
				href="/classes"
				title="FITNESS CLASS"
				body="Condition your body and mind to face the rigors of the ring - and life - head-on."
			/>
			<ClassCard
				href="/classes"
				title="FIGHT TEAM"
				body="Want to compete? Start here."
			/>
			<p>You can find more information about our class schedule and pricing <a href="/classes">here</a>.</p>
			<h2>Contact Us</h2>
			<p>Still have some questions? feel free to reach out to us through:</p>
				<ul>
					<li>call or text, at <a href="tel:2098985311"><strong>(209) 898-5311</strong></a> </li>
					<li><a href="https://www.instagram.com/torozmuaythai/"><strong>Instagram</strong></a> private messages,</li>
				</ul>
			<p>or through the contact form below.</p>
			<ContactForm />
		</main>
		<Footer />
	</body>
</html>
