---
import BaseLayout from '../layouts/BaseLayout.astro'
import Navbar from '../components/Navbar.astro'
import global from '../styles/global.css'
import tables from '../styles/tables.css'

const title="Schedule | Toro Z Muay Thai"
---

<BaseLayout title={title}>
  <Navbar>
    <h1>Schedule</h1>
    <img src="/images/2022-00-00/practice1.jpg"
      alt="Picture after a Toro Z training session"
      width="600px">
  </Navbar>

  <div class="container">
    <div class="schedule">
       
      <h2>Class Schedule</h2>
      <p>Schedule information below</p>
      
      <table>
        <thead>
          <tr>
            <td>TIME</td>
            <td>MON</td>
            <td>TUE</td>
            <td>WED</td>
            <td>THU</td>
            <td>FRI</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>08:00AM-10:00AM</td>
            <td>Personals</td>
            <td>Personals</td>
            <td>Personals</td>
            <td>Personals</td>
            <td>Personals</td>
          </tr>
          <tr>
            <td>10:30AM-11:30AM</td> 
            <td>Morning Muay Thai</td>
            <td>Morning Muay Thai</td>
            <td>Morning Muay Thai</td>
            <td>Morning Muay Thai</td>
            <td>Morning Muay Thai</td>
          </tr>
          <tr>
            <td>11:30AM-05:00PM</td>
            <td>Personals</td>
            <td>Personals</td>
            <td>Personals</td>
            <td>Personals</td>
            <td>Personals</td>
          </tr>
          <tr>
            <td>05:00PM-06:00PM</td>
            <td>Kids' Class</td>
            <td>Kids' Class</td>
            <td>Kids' Class</td>
            <td>Kids' Class</td>
            <td>Kids' Class</td>
          </tr>
          <tr>
            <td>06:00PM-07:00PM</td>
            <td>Fitness Muay Thai</td>
            <td>Fitness Muay Thai</td>
            <td>Fitness Muay Thai</td>
            <td>Fitness Muay Thai</td>
            <td>Fitness Muay Thai</td>
          </tr>
          <tr>
            <td>07:00PM-08:00PM</td>
            <td>Beginner Muay Thai</td>
            <td>Beginner Muay Thai</td>
            <td>Beginner Muay Thai</td>
            <td>Beginner Muay Thai</td>
            <td>Beginner Muay Thai</td>
          </tr>
          <tr>
            <td>08:00PM-09:00PM</td>
            <td><div class="greyed-out">N/A</div></td>
            <td>Advanced Muay Thai</td>
            <td><div class="greyed-out">N/A</div></td>
            <td>Advanced Muay Thai</td>
            <td><div class="greyed-out">N/A</div></td>
          </tr>          
        </tbody>
      </table>

      <h2>Pricing</h2>
      <p>Pricing information below</p>
    </div>
  </div>
</BaseLayout>
