---
import styles from '../styles/global.css'
import navbar from '../styles/navbar.css'
---
<div class="navbar">
  <div class="container">

      <a href=""><img src="torozlogo.png"
        alt="Toro Z crest"
        height="200px">
      </a>
      
      <ul>
        <li><a href=""> <h3>Home</h3> </a></li>
        <li><a href="about"> <h3>About</h3> </a></li>
        <li><a href="plans"> <h3>Schedules</h3> </a></li>
        <li><a href="news"> <h3>News</h3> </a></li>
        <li> <h3>Store</h3> </li>
      </ul>   

  </div>
</div>

<div class="container">
  <div class="banner"> 
    <div class="flex">

     <slot /> 

    </div>
  </div>
</div>
