---
import styles from '../styles/styles.css'
const {title} = Astro.props;
---
<html lang="en">
	<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="stylesheet" href="../styles/styles.css"
  </head>
	<body>
    <div class="navbar">
      <a href="index"><img src="/favicon.png" />
      <nav>
        <ul>
          <li><a href="index"> Home </a></li>
          <li><a href="about"> About </a></li>
          <li><a href="plans"> Plans </a></li>
          <li><a href="news"> News </a></li>
        </ul>
      </nav>
    </div>
		<slot />
	</body>
</html>
